.agentrepodiaroot {
    width: 44vw;
    height: 55vh;
    background-color: white;
    font-family: normal;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0;
  }
  
  .agentrepodiahead {
    background-color: #0008a9;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 16%;
    width: 100%;
  }
  .agentrepodia_dialogHeadpart {
    display: flex;
    color: white;
  }
  
  .agentrepodia_dialogHeadpart {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 1%;
    align-items: center;
  }
  
  .agentrepodia_dialogHeadpart {
    margin-left: 1%;
  }
  
  .agentrepodia_dialogHeadpart label {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .agentrepodia_dialogHeadControlls {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
    gap: 2%;
  }
  
  .agentrepodiaBody {
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  
  .agentrepodiaDate {
    width: 97%;
    height: 17%;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    display: flex;
  }
  .agentrepodiaDate section {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 2%;
    align-items: center;
  }
  .agentrepodiaDate section label {
    width: 20%;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  .agentrepodiaDate section input {
    width: 70%;
    height: 60%;
  
    border: 1px solid #000000;
    outline: none;
    border-radius: 5px;
  }
  .Dto {
    justify-content: end;
    margin-right: 1%;
  }
  .Dfrom {
    margin-left: 1%;
  }
  
  .agentrepodiaForms {
    width: 97%;
    height: 43%;
    display: flex;
    flex-direction: column;
  }
  .agentrepodiaForms section {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 2%;
    align-items: center;
  }
  .agentrepodiaForms section label {
    width: 18%;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  
  
  .agbranchinput {
    width: 45vw;
    height: 3.5vh;

  }
  
  .agentrepodiaButton {
    width: 97%;
    height: 20%;
    display: flex;
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    align-items: center;
    justify-content: center;
    gap: 25%;
  }
  .agentrepodiaButton button {
      width: 20%;
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
  }
  
  .btnimg{
      width: 30px;
      height: auto;
  }
  
 