.LoginRoot {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../images/background.png"); */
  /* background-image: url("https://i.postimg.cc/4yFB92Rf/background.png"); */
  background-image: url("../assets/images/background.webp");

  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.loginForm {
  height: 38vh;
  width: 26vw;
  background-color: #ffffff;
  border-radius: 5px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.loginHead {
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 

  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.loginHead label {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif ;
    font-size: 12px;
    font-weight: 300;
}

.loginHead img {
  margin-left: 1%;
}

.loginBody {
  background-color: #0008a9;
  width: 100%;
  height: 85%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 2.5%;
  align-items: center;
  justify-content: center;
}
.loginBodyRows {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 3%;
  /* justify-content: center; */
}
.loginBodyRows label {
  margin-left: 1%;
  font-weight: 500px;
  line-height: 15px;
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif ;

  width: 20%;
  color: #ffffff;
  text-wrap: nowrap;
}
.loginBodyRows input {
  width: 60%;
  height: 40%;
}

.errorMessage {
  color: rgb(245, 243, 243);
}
.loginBodyRowsButton {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 3%;
}
.loginBodyRowsButton button {
  width: 20%;
  height: 60%;
}
@media (max-width: 767px) {
  /* Adjust this value based on your requirement for mobile view */
  .LoginRoot {
    background-image: url("../assets/images/homeImage_mob.webp");
  }

  .loginForm {
    height: 45vh;
    width: 85vw;
    background-color: #ffffff;
    border-radius: 5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .loginHead {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 2%;
  }

  .loginHead img {
    margin-left: 1%;
  }

  .loginBody {
    background-color: #0008a9;
    width: 100%;
    height: 85%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 2.5%;
    align-items: center;
    justify-content: center;
  }
  .loginBodyRows {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
  }
  .loginBodyRows label {
    display: flex;

    font-weight: 500px;
    line-height: 15px;
    font-size: 15px;
    width: 82%;
    color: #ffffff;
  }
  .loginBodyRows input {
    width: 80%;
    height: 40%;
  }
  .loginBodyRowsButton {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 3%;
  }
  .loginBodyRowsButton button {
    width: 38.5%;
    height: 55%;
    border-radius: 10px;
  }
}
